body{
    background-color: rgb(218,223,232);
    font-family: "Roboto Condensed";
    font-weight: bold;
}

.w-h-24{
    width: 24px;
    height: 24px;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.w-100{
    width: 100%;
}

.m-30{
    margin-top: -40px;
    position: relative;
}

.z-i-2{
    z-index: 2;
}