header img{
    width: 200px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 3px solid rgb(66,78,90);
    box-shadow: 0px 2px 10px rgb(66,78,90);
}

.pokemon-container{
    width: 260px;
    height: 260px;
    background-color:rgb(250,249,195);
    border-radius: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    border: 3px solid rgb(66,78,90);
    box-shadow: 8px 8px 16px rgb(66,78,90);
    font-size: 20px;
    padding: 8px;
    color: #FFFF;
}

.img-wraper img{
    width: 180px;
    height: 180px;
    
}

.scale img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
}

#main-content{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-container-header-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.pokemon-container-footer img{
    width: 110px;
    border-radius: 8px;
    border: 3px solid rgb(66,78,90);
}

.button-wrapper img{
    width: 80px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 3px solid rgb(66,78,90);
}

button:hover{
    cursor: pointer;
}

.overlay-pokemon-card-style{
    width: 328px;
    height: 512px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding-top: 8px;
    border: 3px solid rgb(66,78,90);
}

.overlay-pokemon-detail{
    height: 320px;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    color: rgb(66,78,90);
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.overllay-card-header{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.img-wraper-overlay img{
    width: 120px;
    height: 120px;
}

.overlay-pokemon-navbar-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overlay-pokemon-navbar-wrapper span:hover{
    cursor: pointer;
}

.pokemon-overlay-detail-style{
    border-top: 2px solid rgb(66,78,90);
    width: 100%;
    padding-top: 16px;
    min-height: 160px;
}

.overlay-card-fotter-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}