header img{
    width: 200px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 3px solid grey;
    box-shadow: 0px 2px 10px grey;
}

.pokemon-container{
    width: 250px;
    height: 250px;
    background-color:rgb(250,249,195);
    border-radius: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    border: 3px solid grey;
    box-shadow: 8px 8px 16px grey;
    font-size: 20px;
    padding: 8px;
}

.img-wraper img{
    width: 180px;
    height: 180px;
    
}

.img-wraper img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
}

#main-content{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-container-header-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}